<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.augmentum.oes.model.Question">
    <resultMap type="Question" id="questionMap">
        <id column="id" property="id"></id>
        <result column="question_title" property="questionTitle"/>
        <result column="option_a" property="optionA"/>
        <result column="option_b" property="optionB"/>
        <result column="option_c" property="optionC"/>
        <result column="option_d" property="optionD"/>
        <result column="answer" property="answer"/>
        <result column="last_update_time" property="lastUpdateTime"/>
    </resultMap>
    
    <insert id="create" parameterType="Question" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO 
                question(question_title, option_a, option_b, option_c, option_d, answer, user_id)
            VALUES
                (#{questionTitle}, #{optionA}, #{optionB}, #{optionC}, #{optionD}, #{answer}, #{userId})
        ]]>
    </insert>
    
    <delete id="delete" parameterType="int">
        <![CDATA[
            UPDATE question 
            SET is_deleted = 1 
            WHERE id = #{id}
        ]]>
    </delete>
    
    <select id="getById" parameterType="int" resultMap="questionMap">
        <![CDATA[
            SELECT id, question_title, option_a, option_b, option_c, option_d, answer 
            FROM question 
            WHERE id = #{id} 
            AND is_deleted = 0
        ]]>
    </select>
    
    <update id="update" parameterType="Question">
        <![CDATA[
            UPDATE question 
            SET question_title = #{questionTitle}, option_a = #{optionA}, option_b = #{optionB}, option_c = #{optionC}, 
                option_d = #{optionD}, answer = #{answer} 
            WHERE id = #{id}
        ]]>
    </update>
    
    <select id="query" resultMap="questionMap" parameterType="java.util.Map">
            SELECT id, question_title, option_a, option_b, option_c, option_d, answer, last_update_time 
            FROM question 
            WHERE is_deleted = 0 
            AND question_title LIKE #{queryCondition} 
            <if test="sort == 'id_desc'">
                ORDER BY id DESC
            </if>
            <if test="sort == 'id_asc'">
                ORDER BY id ASC
            </if>
            <if test="sort == 'lastUpdateTime_desc'">
                ORDER BY last_update_time DESC
            </if>
            <if test="sort == 'lastUpdateTime_asc'">
                ORDER BY last_update_time ASC
            </if>
            
            limit #{begin}, #{pageSize}
    </select>
    
    <select id="count" resultType="int" parameterType="String">
            SELECT COUNT(id) 
            FROM question
            WHERE is_deleted = 0
            AND question_title LIKE #{queryCondition} 
    </select>
    
    <select id="queryRandom" resultMap="questionMap" parameterType="int">
        SELECT 
            id, question_title, option_a, option_b, option_c, option_d, answer 
        FROM 
            online_exam_system.question 
        WHERE 
            is_deleted=0 
        ORDER BY RAND() LIMIT #{number}
    </select>
</mapper>