<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.augmentum.oes.model.User">
    <resultMap type="User" id="userMap">
        <id column="id" property="id"/>
        <result column="username" property="userName"/>
        <result column="password" property="password"/>
        <result column="full_name" property="fullName"/>
        <result column="telephone" property="telephone"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
    </resultMap>
    
    <select id="login" resultMap="userMap" parameterType="String">
        <![CDATA[
            SELECT 
                id, username, password, full_name, telephone, email, gender 
            FROM 
                user 
            WHERE 
               username = #{userName} 
            AND 
                is_deleted = 0
        ]]>
    </select>
    
    <update id="update" parameterType="User">
            UPDATE 
                user
            SET
                full_name = #{fullName}, telephone = #{telephone}, email = #{email}, gender = #{gender}
            WHERE
                id = #{id}
    </update>
</mapper>